<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3><span>Bienvenid@ a <%= title %></span></h3>
    <p>El portar donde podrás crear tus propios juegos!</p>
    <p><a href="/quizes/question">Comienza a jugar</a></p>
  </body>
</html>
